@import "./core/media-queries";

.container {
  max-width: $max-width;
  padding: 0 2rem;
  overflow: hidden;
  margin: 0 auto;
  height: auto;
  // overflow-y: auto;

  @include mobile {
    padding: 0;
  }

  @include tablet {
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: $secondary-text-color;
  font-weight: bold;
}

.btn {
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1.1px;
  @include dynamic-padding(0.9rem, 1.4rem, 0.9rem, 1.4rem);
  font-size: 1rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
}

.btn-primary {
  @include setBackgroundAndFontColor($primary-color);
  cursor: pointer;

  &:hover &:not([disabled]) {
    background-color: set-background-color($primary-color);
    transition: all 0.2s ease;
    box-shadow: $box-shadow-secondary;
  }

  @include mobile {
    font-size: smaller;
    padding: 0.8rem;
  }
}

.logout {
  color: $primary-color;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.btn-disable {
  @include setBackgroundAndFontColor($disable-color);
}
