@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import "config";
@import "utility";
@import "./core/navbar";
@import "./pages/home";
@import "./core/carousel";
@import "./pages/Login";
@import "./core/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Raleway", sans-serif;
}
